<p id="notice"><%= notice %></p>

<p>
  <strong>Nachname:</strong>
  <%= @author.family_name %>
</p>

<p>
  <strong>Vorname:</strong>
  <%= @author.given_name %>
</p>

<p>
  <strong>Zugehörigkeit:</strong>
  <%= @author.affiliation %>
</p>

<p>
  <strong>Bücher:</strong>
  <%= @author.books.map{|a| a.title}.join(", ") %>
</p>

<%= link_to 'Bearbeiten', edit_author_path(@author) %> |
<%= link_to 'Zurück', authors_path %>
