<p id="notice"><%= notice %></p>

<h1>Nutzer</h1>

<table>
  <thead>
    <tr>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Blockiert?</th>
      <th>Bemerkung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.family_name %></td>
        <td><%= user.given_name %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.blocked %></td>
        <td><%= user.remarks %></td>
        <td><%= link_to 'Anzeigen', user %></td>
        <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Nutzer', new_user_path %>
